$clr-pri-1: hsl(217, 19%, 35%);
$clr-pri-2: hsl(214, 17%, 51%);
$clr-pri-3: hsl(212, 23%, 69%);
$clr-pri-4: hsl(210, 46%, 95%);
$clr-neut-1: hsl(0, 0%, 100%);

$fs-h1-mob: 1rem;
$fs-h3-mob: 0.8125rem;
$fs-copy-mob: 0.8125rem;

$fs-h1-dt: 1.25rem;
$fs-h3-dt: 1.25rem;
$fs-copy-dt: 0.8125rem;

$fw-med: 500;
$fw-bold: 700;

$br-rad: 10px;
