@import "reset";
@import "variables";

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin desktop {
    @media (min-width: 1100px) {
        @content;
    }
}

body {
    font-family: "Manrope", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: $fs-h1-mob;
    font-weight: $fw-bold;
    @include desktop {
        font-size: $fs-h1-dt;
    }
}
h3 {
    font-size: $fs-h3-mob;
    font-weight: $fw-med;
    @include desktop {
        font-size: $fs-h3-dt;
    }
}
section {
    font-size: $fs-copy-mob;
    font-weight: $fw-med;
    @include desktop {
        font-size: $fs-copy-dt;
    }
}
span {
    font-size: $fs-copy-mob;
    font-weight: $fw-bold;
    @include desktop {
        font-size: $fs-copy-dt;
    }
}
time {
    font-size: $fs-copy-mob;
    font-weight: $fw-med;
    @include desktop {
        font-size: $fs-copy-dt;
    }
}

.main {
    margin: 0 auto;
    height: 100vh;
    min-width: 22rem;
    max-width: 25rem;
    @include flexCenter(column);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: $clr-pri-4;
    @include desktop {
        min-width: 3rem;
        max-width: 93rem;
        padding-left: 21.625rem;
        padding-right: 21.625rem;
    }
    .article {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;

        }
        .image-wrapper {
            max-height: 202px;
            overflow: hidden;
            border-top-left-radius: $br-rad;
            border-top-right-radius: $br-rad;
            @include desktop {
                max-height: none;
                width: 35rem;
                border-top-right-radius: 0px;
                position: relative;
                left: 64px;
                border-bottom-left-radius: $br-rad;
            }
            .article-image {
                position: relative;
                top: -16px;
                @include desktop {
                    top: 0px;
                    height: 290px;
                    width: 350px;
                    //right: 0px;
                }
            }
        }
        .content {
            padding: 0 2.2rem;
            padding-top: 2.25rem;
            background-color: $clr-neut-1;
            border-bottom-left-radius: $br-rad;
            border-bottom-right-radius: $br-rad;
            overflow: hidden;
            position: relative;
            @include desktop {
                padding-top: 2rem;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                border-top-right-radius: $br-rad;
                border-bottom-left-radius: 0px;
                max-width: 28rem;
                overflow: initial;
            }
            .headline {
                margin-bottom: 1rem;
                color: $clr-pri-1;
            }
            .body {
                margin-bottom: 1.9rem;
                color: $clr-pri-2;
                @include desktop {
                    margin-bottom: 1.2rem;
                }
            }
            .footer {
                margin-bottom: 1rem;
                z-index: 0;
                .container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .author-wrapper {
                        display: flex;
                        .image {
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            margin-right: 1rem;
                        }
                        .author-info {
                            display: flex;
                            flex-direction: column;
                            .name {
                                color: $clr-pri-1;
                            }
                            .date {
                                color: $clr-pri-3;
                            }
                        }
                    }
                    
                    .share {
                        height: 2rem;
                        width: 2rem;
                        @include flexCenter(row);
                        border-radius: 50%;
                        background-color: $clr-pri-4;
                        cursor: pointer;
                        transition: all 0.5s;
                        z-index: 2;
                        &.dark {
                            background-color: $clr-pri-2;
                        }
                    }
                }
            }
            .menu {
                background-color: $clr-pri-1;
                display: flex;
                align-items: center;
                height: 64px;
                width: 125%;
                margin-left: -2.2rem;
                z-index: 1;
                position: absolute;
                bottom: -0px;
                transition: all 0.5s;
                @include desktop {
                    width: 248px;
                    height: 55px;
                    margin-left: 0px;
                    bottom: 96px;
                    left: 260px;
                    border-radius: 10px;
                }
                .menu-title {
                    margin-left: 2.2rem;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    color: $clr-pri-3;
                    margin-right: 1.2rem;
                    @include desktop {
                        font-size: 13px;
                    }
                    
                }
                .icon {
                    margin-right: 1.2rem;
                    cursor: pointer;
                }
                &.hidden {
                    bottom: -64px;
                    @include desktop {
                        opacity: 0;
                    }
                }
                .dia-arrow {
                    display: none;
                    @include desktop {
                        position: relative;
                        top: 32px;
                        right: 118px;
                        display: inline-block;
                        height: 0px;
                        width: 0px;
                        border-top: 16px solid $clr-pri-1;
                        border-left: 16px solid transparent;
                        border-right: 16px solid transparent;

                    }
                }
            }
        }
    }
}

